[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli.git
[submodule "third_party/lcms"]
	path = third_party/lcms
	url = https://github.com/mm2/Little-CMS
[submodule "third_party/lodepng"]
	path = third_party/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "third_party/FiniteStateEntropy"]
	path = third_party/FiniteStateEntropy
	url = https://github.com/Cyan4973/FiniteStateEntropy
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark
