language: cpp

# Use container-based image; it usually starts up faster.
sudo: false

# Don't run CI on non-master branches (does not affect PRs).
branches:
  only:
  - master

matrix:
  include:

    - os: linux
      env: C_COMPILER=gcc-7 CXX_COMPILER=g++-7
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - gcc-7
          - g++-7

    - os: linux
      env: C_COMPILER=clang-5.0 CXX_COMPILER=clang++-5.0
      addons:
        apt:
          sources:
          - llvm-toolchain-trusty-5.0
          - ubuntu-toolchain-r-test
          packages:
          - clang-5.0

addons:
  apt:
    packages:
      - liblcms2-dev

before_install:
- if [ -n "${C_COMPILER}" ]; then export CC="${C_COMPILER}"; fi
- if [ -n "${CXX_COMPILER}" ]; then export CXX="${CXX_COMPILER}"; fi

script:
  - make
