      body {
          margin: 0 auto 0 auto;
          padding-bottom: 30px;
          font-family: Helvetica, Verdana, Arial, sans-serif;
          color: #333333;
          background-color: #ffffff;
          max-width: 876px;
          font-size: 13px;
      }
      a {
          color: #3366cc;
          text-decoration: underline;
          cursor: pointer;
      }
      img {
          border: 0;
      }
      p {
          clear: both;
          line-height: 1.25em;
          text-align: justify;
      }
      th {
          background-color: #aabbff;
      }
      img.caption {
          margin-left: auto;
          margin-right: auto;
          margin-top: 3em;
          margin-bottom: 2em;
          display: block;
      }
      div.caption {
          max-width: 800px;
          margin-left: auto;
          margin-right: auto;
          padding-left: 100px;
          padding-right: 100px;
      }
      .demo {
          background-color: #c6c6c6;
          margin-left: 0em;
          margin-right: 0em;
          margin-bottom: 1.5em;
          padding: 1em;
          padding-bottom: 0em;
      }
      .demo table {
          position: relative;
          left: 50%;
          -ms-transform: translate(-50%, 0);
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          margin-left: 0;
          margin-right: auto;
      }
      .demo table .title {
          text-align: center;
      }
      .demo table .center-head {
          font-weight: bold;
          font-family: "Consolas", Courier, monospace;
          font-size: 1.5em;
          text-align: center;
          width: 8em;
        }
      .demo .caption {
          margin: 1.5em 1em .2em 1em;
          padding-bottom: 2em;
          color: #3f5087;
      }
