body {
    padding-bottom: 30px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #333333;
    font-size: 13px;
}
table {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #333333;
    font-size: 13px;
}
img.graph {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 20px;
}
p {
    clear: both;
    line-height: 1.25em;
    text-align: justify;
}
th {
    background-color: #aabbff;
}
